<?xml version="1.0" encoding="UTF-8"?>
<server description="Authentication service">
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>cdi-4.0</feature>

        <feature>socialLogin-1.0</feature>
        <feature>appSecurity-5.0</feature>
        <feature>servlet-6.0</feature>
        <feature>mpJwt-2.1</feature>
        <feature>jwt-1.0</feature>
        <feature>mpConfig-3.1</feature>
        <feature>mpRestClient-3.0</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9090"/>
    <variable name="https.port" defaultValue="9443"/>
    <variable name="frontend.root" defaultValue="http://localhost:2080"/>
    <variable name="cert.location" defaultValue="key.jks"/>
    <variable name="cert.password" defaultValue="testpw"/>
    <variable name="cert.algorithm" defaultValue="RS256"/>

    <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
                  id="defaultHttpEndpoint"
                  host="*"/>

    <keyStore id="testKeyStore" location="${cert.location}" password="${cert.password}" />
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" keyStoreRef="testKeyStore" />

    <githubLogin clientId="${github.client.id}"
                 clientSecret="${github.client.secret}" />

    <webApplication contextRoot="/" location="auth-service.war">
        <application-bnd>
            <security-role name="user">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
        <!-- <security-constraint>
            <web-resource-collection>
                <web-resource-name>NativeLogin</web-resource-name>
                <url-pattern>/auth/native-login</url-pattern>
            </web-resource-collection>
            <auth-constraint>
                <role-name>user</role-name>
            </auth-constraint>
        </security-constraint> -->
    </webApplication>

    <jwtBuilder id="jwtFrontEndBuilder" issuer="moxie.cs.oswego.edu" expiresInSeconds="15"
                trustStoreRef="testKeyStore" signatureAlgorithm="${cert.algorithm}"/>

    <!--More Cors bs-->
    <cors domain="/auth/native-login"
          allowedOrigins="${frontend.root}"
          allowedMethods="GET, POST, PUT, DELETE, OPTIONS"
          allowedHeaders="*"
          allowCredentials="true"/>
    <cors domain="/auth/create-user"
          allowedOrigins="${frontend.root}"
          allowedMethods="GET, POST, PUT, DELETE, OPTIONS"
          allowedHeaders="*"
          allowCredentials="true"/>
</server>
